* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-header {
    background-color: #ADD8E6;
    padding: 10px;
}

.container-1 {
    max-width: 1200px;
    margin: 0 auto;
}

.header-options {
    display: flex;
    flex-wrap: wrap;
}

[class^="row-"] {
    display: flex;
    padding: 5px;
}

[class^="col-"] {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.logo {
    flex-basis: calc(100% / 4.8);
    background-color: #DAA520;
}
.link {
    justify-content: center;
    flex-basis: calc(100% / 1.7);
    background-color: #DAA520;
}

.login {
    justify-content: end;
    flex-basis: calc(100% / 4.8);
    background-color: #DAA520;
}



.main-section-2 {
    background-color: #00008B;
}

.container-2 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.row-2 {
    margin: 50px;
}

.col-alone {
    background-color: #EE82EE;
    min-width: 900px;
    min-height: 400px;
}

.main-section-3 {

}

.container-3 {

}

.row-3 {

}

.col-

















.debu .page-header {
    border: 2px dashed black;
    padding: 10px;
    min-height: 80px;
}

.debu .container {
    padding: 5px;
    border: 2px dashed red;

}

.debu .row {
    border: 2px dashed red;
}

.debug [class^="col-"] {
    border: 2px dashed black;
    font-weight: 300;
}

.debug .container-2 {

}

.debu .row-2 {
    border: 2px dashed white;
}

