* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* HEADER */

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* HEADER */


/* MAIN */

/*section 1*/
.col-12 {
	flex-basis: calc((100% / 12) * 12);
}
/*section 1*/

/*section 2,3,4*/
.col-8 {
	flex-basis: calc((100% / 12) * 8);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}
        /*section 2,4*/

        /*section 3*/
 .bg-gray {
	background-color: #d3d3d3;
}
.row-reverse {
	flex-direction: row-reverse;
}
        /*section 3*/
       





/* MAIN */

















.footer-section-7 {
    background-color: #23272A;
}

.container-7 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.row-7 {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 600px;
    
}


.col-2 {
    background-color: #20B2AA;
    border: 2px dashed white;
    flex-basis: calc(100% * 2 / 12);
    color: #20B2AA;
}




.page-footer {
    padding: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


.container-footer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.row-box {
    display: flex;
    border: 2px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #7FFFD4;
    padding: 0px;
}


.logo-footer {
    border: 2px dashed black;
    background-color: #FFB6C1;
    font-size: 25px;
}

.button-footer {
    border: 2px dashed black;
    background-color: #FFB6C1;
    font-size: 25px;
}




/* GENERAL RULES */
.justify-between {
	justify-content: space-between;
}

.container-sm {
	max-width: 600px;
	margin: 0 auto;
}

.row {
    display: flex;
    flex: wrap;
}
/* GENERAL RULES */








/* DEBUG */

.debug main .col-8 {
	background-color: #1e90ff;
}

.debug main .col-4 {
	background-color: #ffc0cb;
}

.debug .page-header {
	background-color: aqua;
	padding: 10px;
}

.debug .page-footer {
	background-color: #23272a;
	padding: 10px;
}

.debug .page-header [class^='col'] {
	background-color: #daa520;
	border: 2px dashed black;
	padding: 20px;
}

.debug .page-header [class^='col'] {
	background-color: #daa520;
	border: 2px dashed black;
	padding: 20px;
}

.debug .hero {
	background-color: #00008b;
}

.debug main section {
	padding: 20px;
}

.debug .hero [class^='col-'] {
	background-color: #ee82ee;
}

.debug main [class^='col-'] {
	min-height: 200px;
	padding: 20px;
	border: 2px dashed black;
}

.debug .cta-section .col-12 {
	background-color: #228b22;
	min-height: 400px;
}

