* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* HEADER */

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* HEADER */


/* MAIN */

/*section 1*/
.col-12 {
	flex-basis: calc((100% / 12) * 12);
}
/*section 1*/

/* MAIN */




.main-section-3 {
    background-color: #FFFFFF;
}

.container-3 {
    display: flex;
    justify-content: center;
    min-width: 1200px;
    margin: 0 auto;
}

.row-3 {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 600px;
}

.col-8 {
    background-color: #1E90FF;
    flex-basis: calc(100% * 8 / 12);
}

.col-4 {
    background-color: #FFC0CB;
    flex-basis: calc(100% * 4 / 12);
}




.main-section-4 {
    background-color: #D3D3D3;
}

.container-4 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.row-4 {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 600px;
    flex-direction: row-reverse;
}




.main-section-5 {
    background-color: #FFFFFF;
}

.container-5 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.row-5 {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 600px;
}




.main-section-6 {
    background-color: #D3D3D3;
}

.container-6 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.row-6 {
    margin: 50px;
}

.col-alone-2 {
    background-color: #228B22;
    min-width: 1200px;
    min-height: 900px;
}




.footer-section-7 {
    background-color: #23272A;
}

.container-7 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.row-7 {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 600px;
    
}

.col-4 {
    background-color: #F08080;
    border: 2px dashed black;
   
    color: #F08080;
}

.col-2 {
    background-color: #20B2AA;
    border: 2px dashed white;
    flex-basis: calc(100% * 2 / 12);
    color: #20B2AA;
}




.page-footer {
    padding: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


.container-footer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.row-box {
    display: flex;
    border: 2px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 1200px;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #7FFFD4;
    padding: 0px;
}


.logo-footer {
    border: 2px dashed black;
    background-color: #FFB6C1;
    font-size: 25px;
}

.button-footer {
    border: 2px dashed black;
    background-color: #FFB6C1;
    font-size: 25px;
}




/* GENERAL RULES */
.justify-between {
	justify-content: space-between;
}

.container-sm {
	max-width: 600px;
	margin: 0 auto;
}

.row {
    display: flex;
    flex: wrap;
}
/* GENERAL RULES */








/* DEBUG */
.debug .page-header {
	background-color: aqua;
	padding: 10px;
}

.debug .page-footer {
	background-color: #23272a;
	padding: 10px;
}

.debug .page-header [class^='col'] {
	background-color: #daa520;
	border: 2px dashed black;
	padding: 20px;
}

.debug .page-header [class^='col'] {
	background-color: #daa520;
	border: 2px dashed black;
	padding: 20px;
}

.debug .hero {
	background-color: #00008b;
}

.debug main section {
	padding: 20px;
}

.debug .hero [class^='col-'] {
	background-color: #ee82ee;
}

.debug main [class^='col-'] {
	min-height: 200px;
	padding: 20px;
	border: 2px dashed black;
}

